.warning-model-dialog{
    .ant-modal-content {
        background: #282B36 !important;
        border: none !important;
        border-radius: 10px !important;
        color: #808B9D !important;
    }
    .ant-modal-header{
        background: none !important;
        .ant-modal-title{
            font-family: PingFangSC-Medium !important;
            font-size: 16px !important;
            color: #A6B5CC !important;
            line-height: 24px !important;
            font-weight: 500 !important;
            text-align: center;
        }
    }
    .ant-modal-body{
        padding-left: 13px !important;
        text-align: center;
    }
    .ant-modal-footer{
        margin-top: 24px;
        text-align: center !important;
        .ant-btn-default{
            width: 83px;
            height: 40px;
            background: #282B36;
            border: 1px solid rgba(124,136,153,1);
            border-radius: 8px;
            color: #FFFFFF;
            margin-right: 24px;
        }
        .ant-btn-primary{
            width: 72px;
            height: 40px;
            background: #3288FA;
            border-radius: 8px;
            color: #FFFFFF;
        }
    }
}