#attr-container {
    width: 312px;
    height: calc(100% - 78px);
    display: inline-block;
    background: #1A1D24;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    -o-user-select: none;
    /* Opera*/
    user-select: none;
    .no-data-img{
        margin-top: calc(50vh - 39px - 60px);
        margin-left: 76px
    }
    .no-data-txt{   
        text-align: center;
        color: #5D6573;
    }
    .title{
        line-height: 48px;
        font-family: PingFangSC-Regular;
        font-size: 16px;
        color: #FFFFFF;
        width: 100%;
        border-bottom: 1px solid #383B45;

        .text {
            margin-left: 20px;
        }
    }
    .type{
        margin: 20px 0 16px 0;
        .line{
            display: inline-block;
            margin-left: 20px;
            margin-right: 8px;
            width: 2px;
            height: 12px;
            background: #3288FA;
        }
        .text{
            font-family: PingFangSC-Medium;
            font-size: 16px;
            color: #FFFFFF;
            line-height: 24px;
            font-weight: 500;
        }
    }
    .horizontal-line{
        height: 1px;
        background: #383B45;
        margin: 16px 12px 16px 22px;
    }
    .traffic-display-title{
        width: 70px;
        font-size: 14px;
        font-family: PingFangSC-Medium;
        color: #A6B5CC;
        line-height: 24px;
        font-weight: 500;
        margin-left: 32px;
        margin-bottom: 12px;
    }
    .traffic-display-contant{
        margin-left: 32px;
        display: flex;
        flex-direction: row;
        
    }
    .subsignal-container{
        text-align: right;
        margin-top: 16px;
        margin-right: 12px;
        .subsignal-title{
            font-family: PingFangSC-Regular;
            color: #808B9D;
            line-height: 22px;
        }
    }
    
    .diaplay-item-btn{
        cursor: pointer;
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-direction: row;
        width: 40px;
        height: 40px;
        background: #373D4D;
        border-radius: 6px;
        .circle{
            width: 5px;
            height: 5px;
            background: #A6B5CC;
            border-radius: 5px;
            margin-right: 2px;
            margin-bottom: 2px;
        }
        &.active{
            background: #3288FA;
            .circle{
                background: #FFFFFF;
            }
        }
    }

    .attr-item {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 14px;
        display: flex;
        height: 40px;
        align-items: center;
        color: #A6B5CC;
        margin-top: 16px;
        .text{
            white-space: nowrap;
            padding: 0;
            display: inline-block;
            min-width: 88px;
            text-align: right;
            color: #808B9D;
        }
    }
    .error-text{
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #F75660;
        line-height: 20px;
        margin-left: 120px;
    }
}

.my-select-option-item{
    text-align: left !important;
    line-height: 32px;
    padding-left: 16px;
    cursor: pointer;
    img{
        vertical-align: middle;
        margin-right: 8px;
    }
}
.ant-select-selection-item{
    text-align: left;
}
.load-image-btn{
    color: white;
    border-radius: 4px;
    display: inline-block;
    background: #3288FA;
    padding: 4px 12px;
    margin: 12px 0 0 96px;
}
.traffic-image-modal{
    .ant-modal-content{
        background: #282b36;
        .ant-modal-body{
            background: #282b36;
        }
        .traffic-image-modal-container{
            height: 360px;
            display: flex;
            justify-content: space-between;
            vertical-align: middle;
        }
        image{
            width: 640px;
            height: auto;
        }
    }
    
    
}